html,
body {
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../image/white-pattern.jpg") repeat;
}

.tiktok {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 1vh 2vw;
  z-index: 999;
  background: rgba(47, 47, 47, 0.8);
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}
.tiktok i {
  font-size: 2em;
  color: white;
}

.contact-form .block {
  margin: 2vh auto;
}
.contact-form .block label {
  position: relative;
}
.contact-form .block label span {
  color: red;
  margin-left: 5px;
}
.contact-form .block input,
.contact-form .block textarea {
  width: 100%;
}
.contact-form h6 span {
  color: red;
  margin-right: 5px;
}
.contact-form .confirm-block label {
  font-weight: bold;
}

.info-box {
  border: 3px solid #9de7d7;
  padding: 10px 20px;
}
.info-box h2 {
  font-size: 1.25em;
  text-align: center;
}
.info-box ul {
  list-style-type: none;
  padding: 0;
}

.contact-us {
  margin-top: 4vh;
}
.contact-us h4,
.contact-us h5 {
  text-align: center;
}

.inner2 {
  width: 100%;
  aspect-ratio: 16/9;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(223, 223, 223, 0.4)), url("../image/main-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.inner2 .logo-area {
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner2 .logo-area h2 {
  font-weight: bold;
  color: #000;
}

.bg-kmax {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.bg-kmax.scrolled {
  background: #fff !important;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center !important;
  font-size: 0.9em;
  font-weight: bold;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none !important;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  transform: rotate(135deg);
  top: inherit;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, #ea7901 0%, #ea7901 100%);
}

.main {
  padding: 6vh 0;
}
.main .sect01 {
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.main .sect01 h1 {
  color: #ee8d0a;
}
.main .sect01 h3 {
  font-size: 1.5em;
}
.main .sect01 h4 span {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 5px;
  color: #134577;
}
.main .sect02 {
  padding-top: 10vh;
}
.main .sect02 .sect02-news {
  background: rgba(222, 222, 222, 0.8);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 880px;
  min-width: 340px;
  margin: 0 auto;
  position: relative;
  padding: 0 0 4vh;
}
.main .sect02 .sect02-news .header {
  width: 100%;
  max-width: 280px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -25px;
  background: #3447d7;
  background: linear-gradient(270deg, rgba(52, 71, 215, 0.8) 0%, rgba(108, 159, 232, 0.4) 100%), url("../image/pattern1.jpg");
  background-size: cover;
  background-position: center;
}
.main .sect02 .sect02-news .header h3 {
  color: #ec7e06;
  font-size: 40px;
  font-family: "Akshar", sans-serif;
  text-shadow: 1px 3px 6px #fff;
}
.main .sect02 .sect02-news .header p {
  color: #fee618;
  font-weight: bold;
  margin-top: -15px;
}
.main .sect02 .sect02-news .news-articles {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px 10px;
  border-bottom: 1px solid #9a9a9a;
}
.main .sect02 .sect02-news .news-articles p {
  font-size: 0.9em;
  color: red;
}
.main .sect02 .sect02-news .news-articles h4 {
  font-size: 1.25em;
}
.main .sect02 .sect02-news .news-articles h4 a {
  font-weight: bold;
  text-decoration: none;
  color: #1b1bc3;
}
.main .sect02 .sect02-news .news-articles .body h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.main .sect02 .sample-video {
  margin: 8vh auto;
  padding: 0 0 4vh;
  width: 90%;
  max-width: 880px;
  background: rgba(222, 222, 222, 0.8);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  position: relative;
}
.main .sect02 .sample-video .header {
  width: 100%;
  max-width: 280px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -20px;
  background: #3447d7;
  background: linear-gradient(270deg, rgba(52, 71, 215, 0.8) 0%, rgba(108, 159, 232, 0.4) 100%), url("../image/pattern1.jpg");
  background-size: cover;
  background-position: center;
}
.main .sect02 .sample-video .header h3 {
  color: #ec7e06;
  font-size: 40px;
  font-family: "Akshar", sans-serif;
  text-shadow: 1px 3px 6px #fff;
}
.main .sect02 .sample-video .header p {
  color: #fee618;
  font-weight: bold;
  margin-top: -15px;
}
.main .sect02 .sample-video .video-landscape {
  width: 90%;
  margin: 5vh auto;
}
.main .sect02 .sample-video .video-landscape video {
  width: 100%;
  height: 100%;
}
.main .sect02 .sample-video .video-portrait {
  margin: 0 auto;
  width: 90%;
  max-width: 480px;
}
.main .sect02 .sample-video .video-portrait video {
  width: 100%;
}
.main .sect02 .sect02-schedule {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  background: rgba(222, 222, 222, 0.8);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
}
.main .sect02 .sect02-schedule .header {
  width: 100%;
  max-width: 280px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -45px;
  background: #3447d7;
  background: linear-gradient(270deg, rgba(52, 71, 215, 0.8) 0%, rgba(108, 159, 232, 0.4) 100%), url("../image/pattern1.jpg");
  background-size: cover;
  background-position: center;
}
.main .sect02 .sect02-schedule .header h3 {
  color: #ec7e06;
  font-size: 40px;
  font-family: "Akshar", sans-serif;
  text-shadow: 1px 3px 6px #fff;
}
.main .sect02 .sect02-schedule .header p {
  color: #fee618;
  font-weight: bold;
  margin-top: -15px;
}
.main .sect02 .sect02-schedule .schedule-item {
  background: #ffffff;
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.6);
}
.main .sect02 .sect02-schedule .schedule-item .data {
  position: relative;
}
.main .sect02 .sect02-schedule .schedule-item .data p {
  margin: 0;
}
.main .sect02 .sect02-schedule .schedule-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sect02 .sect02-schedule .schedule-item .item {
  width: 100%;
  padding: 20px 0;
  display: flex;
}
.main .sect02 .sect02-schedule .schedule-item .item .round-area {
  width: 30%;
  float: left;
  position: relative;
  display: flex;
  padding: 20px;
  align-items: center;
}
.main .sect02 .sect02-schedule .schedule-item .item .round-area .round {
  position: absolute;
  left: -10%;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  text-align: center;
  padding: 20px 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.main .sect02 .sect02-schedule .schedule-item .item .round-area .red {
  background: #b42e2e;
}
.main .sect02 .sect02-schedule .schedule-item .item .round-area .orange {
  background: #df581e;
}
.main .sect02 .sect02-schedule .schedule-item .item .round-area .gold {
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.main .sect02 .sect02-schedule .schedule-item .item .date {
  width: 80%;
  float: right;
  position: relative;
  display: flex;
  align-items: center;
}
.main .sect02 .sect02-schedule .schedule-item .item .date .date-p p {
  margin-bottom: 0;
  font-weight: bold;
}
.main .sect02 .sect02-schedule .schedule-item .item .date .arrow {
  position: absolute;
  right: -3%;
  display: flex;
  align-items: center;
}

footer {
  background: #1a3764;
  padding: 3vh 0;
  color: #fff;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
footer ul li {
  display: inline-block;
  font-size: 0.8em;
  padding-right: 10px;
}
footer ul li:nth-last-child(1) {
  border-right: none;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer h5 {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
}
footer p {
  text-align: center;
}
footer p a {
  color: #fff;
}

.top {
  aspect-ratio: 16/5;
  background: #1b1bc3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(222, 222, 222, 0.7) 100%), url(../image/main-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top h2 {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-article .previous-link {
  color: #c14a4a;
  font-size: 0.8em;
  cursor: pointer;
}
.main-article .articles {
  background: #eeebd9;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}
.main-article .articles h5 {
  color: #1a3764;
}
.main-article .articles h6 {
  color: #c14a4a;
  font-size: 0.9em;
}
.main-article .articles h6 i {
  font-size: 0.9em;
  padding-right: 10px;
}
.main-article .articles p {
  line-height: 2em;
  margin: 3vh auto;
}
.main-article .articles .prev_and_next {
  display: flex;
  display: -webkit-flex;
  padding: 10px;
  justify-content: space-between;
}
.main-article .articles .prev_and_next .left a i,
.main-article .articles .prev_and_next .right a i {
  font-size: 1.5em;
  color: #9b9b9b;
}

.schedule-page a .round {
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 2vh auto;
  font-weight: bold;
  font-size: 1.5em;
  color: #000;
  display: flex;
  height: 10vh;
}
.schedule-page a .round .left {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100px;
  width: 120px;
  background: #f59f13;
}
.schedule-page a .round .left p {
  margin-bottom: 0;
}
.schedule-page a .round .right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: url("../image/pattern-bg.png") repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-page a .round .right p {
  margin-bottom: 0;
  color: #fff;
}
.schedule-page .rd-1 {
  background: #fff;
}
.schedule-page .rd-2 {
  background: #ebebeb;
}
.schedule-page .rd-3 {
  background: #c3c3c3;
}
.schedule-page .rd-4 {
  background: #919191;
}
.schedule-page .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 3vw;
}
.schedule-page .fourth {
  display: none;
}
.schedule-page .step {
  background: #686868;
  border-radius: 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  padding: 2vh 3vw;
  margin: 6vh auto;
}
.schedule-page .step h3 {
  color: #ee8d0a;
  text-decoration: underline;
}
.schedule-page .step p {
  line-height: 2em;
  color: #fff;
}
.schedule-page .step p span {
  color: #ee8d0a;
  font-size: 0.9em;
}
.schedule-page .step .title {
  display: flex;
  font-size: 20px;
  margin-bottom: 3vh;
}
.schedule-page .step .title .title-header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 130px;
  padding: 10px;
  background: #f59f13;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-page .step .title .title-header h3 {
  color: #000;
  font-size: 0.9em;
  margin-bottom: 0;
}
.schedule-page .step .title .title-body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 10px;
  background: #000;
  display: flex;
  align-items: center;
  color: #ef8c78;
}
.schedule-page .step .title .title-body p {
  margin-bottom: 0;
}
.schedule-page .step .title .title-body ul {
  list-style-type: none;
  padding: 0;
}
.schedule-page .step .title .title-body ul li {
  font-size: 1em;
  color: #ef8c78;
  margin: 0;
  padding: 0;
}
.schedule-page .step .list_table {
  box-sizing: border-box;
}
.schedule-page .step .list_table > dt {
  box-sizing: border-box;
  padding: 1em;
  margin: 0px;
  background: #f59f13;
  color: #fff;
}
.schedule-page .step .list_table > dd {
  box-sizing: border-box;
  padding: 1em;
  margin: 0px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .schedule-page .step .list_table {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
  }
  .schedule-page .step .list_table > dt,
.schedule-page .step .list_table > dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #ddd;
  }
  .schedule-page .step .list_table > dt {
    width: 20%;
  }
  .schedule-page .step .list_table > dd {
    width: 80%;
    border-right: 1px solid #ddd;
  }
}
@media screen and (max-width: 768px) {
  .main .sect02 .sect02-schedule .schedule-item .item .round-area .round {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  .logo-area {
    width: 90%;
  }

  .main .sect02 .sect02-schedule {
    width: 90%;
    max-width: 500px;
    padding: 20px 10px;
  }
  .main .sect02 .sect02-schedule .schedule-item {
    width: 96%;
  }
  .main .sect02 .sect02-schedule .schedule-item .outer-round {
    padding: 0;
  }
  .main .sect02 .sect02-schedule .schedule-item .outer-round .round {
    left: -30%;
  }
  .main .sect02 .sect02-schedule .schedule-item .outer-round .date {
    padding-right: 0;
    padding-left: 0;
  }
  .main .sect02 .sect02-schedule .schedule-item .item .round-area {
    width: 30%;
    font-size: 0.8em;
  }
  .main .sect02 .sample-video .video-portrait {
    width: 70%;
  }

  .top {
    aspect-ratio: 16/9;
  }
}
@media screen and (max-width: 428px) {
  .inner2 .logo-area h2 {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 375px) {
  .inner2 .logo-area h2 {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=index.css.map */
