.wrapper {
  background:url('../image/white-pattern.jpg') repeat;

}


.jumbotron {
    width: 100%;
    padding-top: 40%;
    background:url(../image/main-bg.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    .title {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 3em;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 2px 5px rgba(255, 255, 255,0.6);
    }
}

.bg-kmax {
    background:rgba(255, 255, 255,0.6);
}

.video-area {
    padding: 10vh 0;
    // background:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(../image/main-bg.png) no-repeat;
    // background-position: center;
    // background-size: contain;
    h3 {
      span {
        text-decoration: underline;
      }
    }
    .video-area {
        background:rgba(238, 235, 217,0.7);
        box-shadow: 1px 3px 6px rgba(50,50,50,0.6);
        .video-landscape {
            margin: 4vh auto;
            video {
                width:100%;
            }
        }
        .video-portrait {
            margin: 4vh auto;
            video {
                width:100%;
            }
        }
    }

}

.back-button {
  .btn {
    width: 100%;
  }
}

footer {
    background:#1A3764;
    padding:3vh 0;
    color:#fff;
    ul {
      list-style-type: none;
      padding:0;
      margin:0 auto;
      // background:pink;
      text-align: center;
      li {
        display: inline-block;
        font-size: 0.8em;
        padding-right:10px;
        // margin-right: 5px;
        border-right: 1px solid #fff;
        &:nth-last-child(1) {
          border-right: none;
          padding-left: 5px;
        }
        &:nth-child(2) {
            padding-left: 5px;
          }
          
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                font-weight: bold;
                color:rgb(222, 233, 19);
            }
        }
      }
    }
    h5 {
      font-size:1em;
      text-align: center;
      margin-top:10px;
    }
    p {
      text-align: center;
      a {
        color:#fff; 
        &:hover {
            font-weight: bold;
            color:rgb(222, 233, 19);
        }
      }
    }
  }



@media screen and (max-width: 992px) {
    .jumbotron {
        padding-top: 56.75%;
    }
}